/* Settings styles */
.container_activities{
    width: 100vw;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 5vh;
}