/* Index styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --principal: #E94040;
    --secondary: #F59E00;
    --dark: #201C2A;
    --white: #FFFFFF;
    --black: #000000;
    --inputs: #F4F4F4;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.swal2-background-custom {
    border-radius: 3vh;
}