/* Index styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --principal: #E94040;
    --secondary: #F59E00;
    --green: #27A64A;
    --white: #FFFFFF;
    --black: #000000;
    --dark: #201C2A;
    --wrap: #323232ee;
    --inputs: #F4F4F4;
    --cards: #D9D9D950;
    --border: #E0E0E0;
}
body {
    margin: 0;
    background: var(--white);
    font-family: -apple-system, BlinkMacSystemFont, 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.swal2-background-custom {
    border-radius: 3vh;
    background: var(--dark);
    color: var(--white);
}
.swal2-background-custom-white{
    border-radius: 3vh;
    background: var(--white);
    color: var(--dark);
}


.calculate_total_sales{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 60px;
    background: var(--principal);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 800;
    border-radius: 2vh;
    border: none;
    padding: 2vh;
    cursor: pointer;
    z-index: 999999;
}