/* Index styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}
body::-webkit-scrollbar{
    display: none;
}
:root{
    --principal: #E94040;
    --secondary: #F59E00;
    --dark: #201C2A;
    --white: #FFFFFF;
    --black: #000000;
    --inputs: #F4F4F4;
    --cards: #d9d9d950;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Urbanist', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.swal2-background-custom {
    border-radius: 3vh;
    background: var(--dark);
    color: var(--white);
}
.category_name {
    display: block;
    width: 100%;
    color: var(--principal);
    font-size: 2.3rem;
    font-weight: 800;
    padding: 0 1.5rem 0.5rem;
    text-align: center;
}