/* Products styles */
.category_section{
    width: 100%;
    margin-top: 2rem;
}
.category_name {
    display: block;
    width: 100%;
    color: var(--principal);
    font-size: 2.3rem;
    font-weight: 800;
    padding: 0 1.5rem 0.5rem;
    text-align: center;
}
.subcategories_slider{
    width: 100%;
    max-width: 100vw;
    padding: 0 1.5rem;
    display: flex;
    justify-content: left;
    overflow-x: scroll;
    scroll-snap-type: both;
}
.subcategories_slider::-webkit-scrollbar{
	height: 10px;
	background-color: transparent;
}
.subcategories_slider::-webkit-scrollbar-track{
	background-color: transparent;
}
.subcategories_slider::-webkit-scrollbar-thumb{
    -webkit-box-shadow: inset 0 0 10px #0002;
    border-radius: 5px;
    background: transparent;
}
.subcategories_slider::-webkit-scrollbar-thumb:hover{
    background: #0002;
}
.subcategory_option{
    display: block;
    padding: 1.5vh 3vh;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    margin-right: 1rem;
    border-radius: 2vh;
    color: var(--dark);
    border: 2px solid var(--dark);
    background: none;
    scroll-snap-align: center;
    transition:  .3s;
    cursor: pointer;
}
.subcategory_option:hover{
    color: var(--white);
    border: 2px solid var(--principal);
    background: var(--principal);
}
.subcategory_option.selected{
    color: var(--white);
    border: 2px solid var(--dark);
    background: var(--dark);
}