/* Store styles */
.wrapper_store{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr;
    background: var(--principal);
}
.store_out{
    background: transparent;
    color: var(--white);
    border: none;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    transform: rotateY(180deg);
}
.header_mobile, .close_menu{
    display: none;
}
.aside_menu{
    min-width: 200px;
    padding: 2rem 0 2rem 1rem;
    color: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.aside_menu_header{
    padding-right: 1rem;
    margin-bottom: 2rem;
}
.aside_menu_header > img{
    display: block;
    width: 90px;
    margin: auto;
}
.store_menu{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    list-style-type: none;
}
.button_menu{
    background: transparent;
    border: none;
    color: var(--white);
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}
.button_menu.active{
    background: var(--white);
    color: var(--principal);
    font-weight: 800;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}
.button_menu.active::before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: -2rem;
    right: 0;
    background: transparent;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 1rem 0 var(--white);
}
.button_menu.active::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    bottom: -2rem;
    right: 0;
    background: transparent;
    border-top-right-radius: 1rem;
    box-shadow: 0 -1rem 0 var(--white);
}
.button_category > svg{
    min-width: 20px;
    transform: rotate(90deg);
}
.button_category.active > svg{
    fill: var(--principal);
}
.button_cart{
    margin-top: 1rem;
    position: relative;
}
.button_cart > span{
    position: absolute;
    top: 0;
    left: calc(1rem + 22px);
}
.container_store{
    background: var(--white);
    margin: 1rem 1rem 1rem 0;
    border-radius: 2rem;
    padding: 2rem;
}
.container_store > h2{
    color: var(--principal);
    text-align: center;
    margin-bottom: 1rem;
}
.container_products{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
.container_products > .container_category{
    width: 100%;
    display: block;
}
.container_products > .container_category > .container_subcategory{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}
.container_products > .container_category > h2{
    display: block;
    width: 100%;
    color: var(--principal);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1vh;
}
.container_products > .container_category > .container_subcategory > h3{
    display: block;
    width: 100%;
    color: var(--dark);
    font-size: 1.5rem;
    margin: 2vh 0 1vh;
}
.ant-card{
    width: 150px;
    margin: .7em;
}
.ant-card-body{
    padding: 5px .5em !important;
}
.card_action{
    transition: .6s ease-in-out !important;
}
.card_action:hover{
    transform: scale(1.3);
}
.product_description > p{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
    color: var(--dark);
}
.product_description.active > p{
    max-width: 100%;
    overflow: unset;
    white-space: unset;
}
.product_description > b{
    display: block;
    width: 100%;
    text-align: right;
    color: var(--green);
    font-size: 1rem;
    
}

/* Responsive */
@media screen and (max-width: 600px) {
    .wrapper_store{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .aside_menu{
        position: fixed;
        z-index: 10;
        background: var(--principal);
        left: 0;
        box-shadow: 0 0 0 100vmax var(--wrap);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }
    .aside_menu.visible{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }
    .container_store{
        margin: 0 1rem 1rem;
        padding: 1rem;
    }    
    .ant-card{
        width: 110px;
        margin: .5em;
    }
    .header_mobile{
        position: sticky;
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header_mobile > div{
        display: flex;
    }
    .header_mobile > div > img{
        width: 55px;
        margin-right: .5rem;
    }
    .header_mobile > div > div > h1{
        font-size: 2.1rem;
        font-weight: 900;
        white-space: nowrap;
    }
    .header_mobile > div > div > h2{
        font-size: .8rem;
        font-weight: 900;
        margin-top: -6px;
        color: var(--white);
        white-space: nowrap;
    }
    .open_menu, .close_menu{
        background: transparent;
        color: var(--white);
        border: none;
        cursor: pointer;
    }
    .close_menu{
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
}